
body{
    background-color:yellow
}
.container{
    text-align: center;
    background-color:teal;
    width: auto;
    border: 1px solid black;
    
    
    
}

#tbl{
    margin-right: auto;
    margin-left: auto;
}

button{
    color: rgb(145, 184, 241);
    font-size: 50px;
    margin: 10px;
    background-color: yellow;
    width: 100%;
    border-left: 1px solid black ;
}

#title{
    color: rgb(145, 184, 241);
    font-size: 50px;
    padding-bottom: 100px;
}

#number{
    color: rgb(145, 184, 241);
    font-size: 150px;
    width: auto;
    padding-bottom: 100px;
    
}

@media (max-width: 790px){
    body{
        background: yellowgreen;
    }
    button{
        font-size: 30px;
    }
}

@media (max-width: 500px){
    body{
        background: yellowgreen;
    }
    button{
        font-size: 15px;
    }
    
}